<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
</head>
<body>
    <form action ="/send_email" method = "post">
        <label> Name <br>
            <input type ="text" name="subject" placeholder = "Please enter your name" required="required">
        </label><br><br>
        <label> Email<br>
            <input type="email" name="email" placeholder = "Enter your email here" required="required">
        </label><br><br>
        <label> Message<br>
            <textarea name="body" placeholder = "Place your message" rows = "8" cols = "24" required="required"></textarea>
        </label><br><br>
        <input type = "checkbox" id = "value1" name="checkbox" value="yes"> 
        <label for= "value1"> Send me a copy </label><br><br>
        <button type = "submit"> Submit </button>
    </form>
</body>
</html>